<!DOCTYPE html>
<html>
  <head>
    <title>Broadcaster</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/common.css" rel="stylesheet" />
    <link href="/assets/css/broadcast_styles.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel="stylesheet" />
  </head>
  <body>
    <section class="select">
      <label for="audioSource">Audio source: </label>
      <select id="audioSource"></select>
    </section>

    <section class="select">
      <label for="videoSource">Video source: </label>
      <select id="videoSource"></select>
    </section>

    <div class="container">
      <div class="main_frame">
        <video playsinline autoplay muted ></video>
        <div class="events">
        
        </div>
        <div class="operations">
          <div class="btn small-btn" data-positive="bxs-circle" data-negetive="bxs-square">
            <i class='bx bxs-circle'></i>
          </div>
          <div class="btn" data-positive="bx-play" data-negetive="bx-pause">
            <i class='bx bx-play'></i>
          </div>
          <div class="btn" id="mute-unmute" data-positive="bx-microphone" data-negetive="bxs-microphone-off">
            <i class='bx bx-microphone'></i>
          </div>
        </div>
        <div class="topbar">
          <div class="live">
            <i class="bx bxs-circle"></i>
            <p>Live</p>
          </div>
          <div class="menu">
            <i class="bx bx-menu"></i>
          </div>
          <div class="visitors">
            <p class="visitors_num">0</p>
            <i class='bx bx-group'></i>
          </div>
        </div>
      </div>
      <div class="right_menu">
        <div class="comment_title">
          <i class="bx bx-x close-menu"></i>
          <h3 id="comment_header">Comments</h3>
        </div>
        <div class="comments">
          
        </div>
        <div class="response">
          <div class="response_input">
            <input placeholder="Type your comment ..." id="comment_text" />
            <i class='bx bxs-send' id="send_comment"></i>
          </div>
        </div>
      </div>
    </div>

    <input type="hidden" id="liveId" value="<%= liveId %>" />

    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/broadcast.js"></script>
    <script src="/assets/js/broadcast_events.js"></script>
  </body>
</html>
