* {
    box-sizing: border-box;
}


h3#comment_header{
    color: hsl(0, 0%, 30%);
}

section.select{
    display:none;
}

body {
    margin:0;
}

.container {
    width: 100%;
    height: 100vh;
    text-align: left;
    display: flex;
    transition: all 300ms ease-in-out;
}

.main_frame {
    width:80%;
    flex-shrink: 0;
    flex-grow: 1;
    position: relative; 
    display: flex;
    align-items: center;
    overflow-y: hidden;
}

.main_frame video{
    width: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.right_menu{
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    box-shadow: inset 2px -2px 8px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease-in-out;
    transform: translateX(100%);
}

.right_menu.active{
    transform: translateX(0%);
}

.comments {
    width:100%;
    padding-top: 15px;
}

.comments .comment{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    min-height: 2rem;
    padding:0 15px 15px;
    border-radius: 0px;
    display: flex;
}

.comments .comment .user p {
    padding: 0;
    color: hsl(0, 0%, 40%);
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

.comments .comment .user {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: hsl(0, 0%, 30%);
    font-size: 20px;
    padding: 0 4px;
}

.comments .comment .avatar {
    height:40px;
    width: 40px;
    border-radius: 100%;
    background-color: orange;
    margin: 0 4px;
    flex-shrink: 0;
}

.comments .comment .avatar.admin {
    border: solid 3px #17db51;
}

.comments .comment .avatar img {
    width:100%;
} 

.comments .user span {
    color: #17db51;
} 

.comment_title {
    text-align: center;
}

.operations {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display:flex;
    height: 7vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.operations .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    margin: 3px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 3px #91919175;
}

.operations .btn i {
    font-size: 25px;
    cursor: pointer;
    color: grey;
}

.operations .btn.active {
    background-color:red;
    color:white;
    transition: all 300ms ease-in-out;
}

.operations .btn.active i {
    color:white;
    transition: all 300ms ease-in-out;
}

.operations .btn.red {
    background-color:red;
}

.operations .btn.red i{
    color:white;
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.visitors{
    position: absolute;
    top: 15px;
    right: 30px;
    display: flex;
    background-color: white;
    padding: 4px 8px;
    border-radius: 15px;
}

.visitors i {
    font-size: 20px;
    height: 15px;
}

.visitors_num{
    margin: 0 !important;
    margin-right: 5px !important;
}

.response {
    position: absolute;
    bottom: 8px;
    right: 0;
    width: 100%;
}

.response_input{
    margin: 0 15px;
    background-color: #f1f1f4;
    height: 50px;
    padding: 5px;
    border-radius: 24px;
    display: flex;
}

.response_input input {
    background: transparent;
    border: none;
    height: 100%;
    margin: 0px 20px;
    width: calc(100% - 80px);
}

.response_input i {
    margin-top: 5px;
    font-size: 30px;
}

.live {
    background-color: red;
    color: white;
    position: absolute;
    left: 15px;
    top: 15px;
    height: 27px;
    display:flex;
    border-radius: 15px;
    align-items:center;
}

.live i {
    animation: beat 2s infinite;
}

.live p {
    font-weight: 500;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.small-btn i{
    font-size:15px !important;
} 

.menu {
    position: absolute;
    top: 15px;
    right: 5px;
    cursor: pointer;
}

.menu i {
    font-size:25px;
}

.close-menu {
    position: absolute;
    top: 20px;
    left: 28px;
    font-size: 22px;
    cursor: pointer;
}

.block {
    display: block;
}

.none {
    display: none;
}

#send_comment {
    cursor: pointer;
}

.events {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 140px;
    padding:15px;
    overflow: hidden;
}

.events .row {
    backdrop-filter: blur(3px);
    display:flex;
    align-items: center;
}

.events .row span {
    color:white;
    text-shadow: 1px 1px black;
    margin-left: 5px;
}

.events .row.fadeOut{
    animation:fadeOut 0.5s 1;
    -webkit-animation:fadeOut 0.5s 1;
    animation-fill-mode: forwards;
    
    animation-delay:3s;
    -webkit-animation-delay:3s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes fadeOut{
    0% {opacity :1;}
    90% {opacity :0;}
    100% {display :none;}
}

@-webkit-keyframes fadeOut{
    0% {opacity :1;}
    90% {opacity :0;}
    100% {display :none;}
}

@keyframes beat {
    0% {
        transform: scale(0.1);
    }
    25% {
        transform: scale(0.2);
    }
    50% {
        transform: scale(0.3);
    }
    75% {
        transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (min-width:992px) {
    .right_menu{
        position: relative;
        width: 20%;
        display: block !important;
        transform: translateX(0%);
    }
    .menu {
        display: none;
    }
    .close-menu {
        display: none !important;
    }
}


